modules = ["nodejs-20", "web", "bash"]
run = "npm run dev"

[nix]
channel = "stable-24_05"
packages = ["imagemagick_light", "try", "run"]

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5001
externalPort = 80

[workflows]
runButton = "Start Full Application"

[[workflows.workflow]]
name = "Start Full Application"
author = 44336354
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && npm start"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm start"
